---
const { ClassName, title, description, image, price } = Astro.props;

---



<article class="flex flex-col my-5 items-center bg-black bg-opacity-50 shadow-md shadow-dorado rounded-lg md:flex-row ">
    <img class="object-cover w-full rounded-t-lg h-auto md:w-2/5 md:rounded-none md:rounded-s-lg" src={image} alt={title}>
    <div class="flex flex-col justify-between p-4 leading-normal w-full">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-dorado-200">{title}</h5>
        <p class="mb-3 font-normal text-gray-300">{description}</p>
        <span class="text-dorado-100 text-lg">₡{price}</span>
    </div>
</article>
